html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.header {
    max-width: 1440px;
    height: 768px;
    background-image: url(../img/header_bg.png);
    margin: 0 auto;
    margin-bottom: 12px;
}
.header-img {
    padding-top: 41px;
}
.header__img {
    width: 100px; 
    Height: 23px;
    margin: 0 auto;
}
.header-img1 {
    padding-top: 309px;
    padding-left: 6px;
}
.header__img1 {
    width: 575px;
    height: 60px;
    margin: 0 auto;
}
.header-p {
    width: 386px;
    height: 22px;
    color: #FFF;
    margin: 0 auto;
    padding-top: 6.5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.header__p {
}
.header-p1 {
    width: 122px;
    height: 15px;
    margin: 0 auto;
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 3.7px;
    padding-top: 227px;
    padding-left: 2px;
}

.navbar1 {
    margin-bottom: 47px;
}
.container {
    max-width: 941px;
    height: 65px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__img {
    width: 79.5px;
    height: 18px;
}
.menu {
}
.navbar__menu {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
    color: #48555B;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.09091px;
    width: 450px;
}
.navbar__menu li a {
    text-decoration: none;
    color: #48555B;
}
.navbar__menu li a:hover {
    color: #00A4E5;
}

.about {
    max-width: 941px;
    height: 344px;
    margin: 0 auto;
    margin-bottom: 117px;
    }
.story {
    text-align: center;
}
.story__title {
}
.story-h1 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    padding-bottom: 12px;
}
.line {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    text-align: center;
    margin: 0 auto;
}
.story1 {
    padding-top: 55px;
}
.founded {
    display: flex;
    justify-content: space-between
}
.found {
    max-width: 405px;
}
.found_title {
    font-size: 20px;
    line-height: 26.44px;
    letter-spacing: 0.1875px;
    color: #48555B;
    padding-bottom: 32px;
}
.found__text {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
}
.found__tree {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 28px;
}
.plan {
    width: 140px;
    height: 224px;
    background-image: url(../img/Plan-bgi.jpg);
}
.plan__h1 {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    font-weight: 700;
    color: #FFF;
    padding-left: 15px;
    padding-top: 15px;
}
.manage {
    width: 140px;
    height: 224px;
    background-image: url(../img/Manage-bgi.jpg);
}
.mange__h1 {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    font-weight: 700;
    color: #FFF;
    padding-left: 15px;
    padding-top: 15px;
}
.build {
    width: 140px;
    height: 224px;
    background-image: url(../img/Build-bgi.jpg);
}
.build__h1 {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    font-weight: 700;
    color: #FFF;
    padding-left: 14px;
    padding-top: 15px;
}

.services {
    max-width: 940px;
    height: 446px;
    margin: 0 auto;
    margin-bottom: 115px;
}
.services__title {
    display: flex;
    justify-content: space-between;
}
.servis__title {
   margin-right: 125px;
}
.services__title-h2 {
    padding-bottom: 9px;
}
.servis-h2 {
    width: 198px;
    height: 25px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.7543px;
    text-transform: uppercase;
    padding-bottom: 27px;
}
.servis-line {
    width: 52px;
    height: 2px;
    background-color: #00A4E5;
}
.servis__text {
    width: 405px;
    height: 38px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
}
.servis__bt {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    border: none;
    padding: 0 25px;
}
.servis__bt a {
    color: #FFF;
    text-decoration: none;
}
.servic__tree {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
    padding-top: 76px;
}
.servic {
    width: 295px;
    height: 330px;
    border: 1px solid #E6E6E6;
}
.servic__img {
    padding-top: 38px;
    padding-left: 23px;
}
.servic__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color:  #48555B;
    padding-top: 24px;
    padding-left: 23px;
}
.servic__text {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color:  #48555B;
    padding: 14px 23px 0;
}

.get {
    max-width: 1440px;
    height: 499px;
    background-image: url(../img/get-in-bgi.jpg);
    margin-top: 115px;
    margin: 0 auto;
}
.get-in {
    text-align: center;
}
.get-in__title {
}
.get-in__h1 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    padding-top: 121px;
}
.get__bt {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    border: none;
    padding: 0 25px;
    margin-top: 33px;
}
.get__bt a {
    color: #FFF;
    text-decoration: none;
}

.newsletter {
    max-width: 1440px;
    height: 100px;
    background-color: #171819;
    padding-top: 28px;
    margin: 0 auto;
}
.content {
    width: 685px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.new__h2 {
    width: 290px;
    height: 30px;
    padding-top: 7px;
}
.new__input {
    width: 250px;
    height: 40px;
    background-color: #FFF;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07px;
    color: #48555B;
    padding-top: 13px;
    padding-left: 15px;
}
.new__title {
    color: #FFF;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.846154px;
}
.new__bt {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    border: none;
    padding: 0 25px;
}
.new__bt a {
    color: #FFF;
    text-decoration: none;
}
.footer {
    max-width: 1440px;
    height: 299px;
    background-color: #141A20;
    margin: 0 auto;
}
.footer__titel {
    max-width: 940px;
    display: flex;
    margin: 0 auto;
    padding-top: 38px;
}
.company {
    width: 250px;
    height: 148px;
}
.company__h4 {
    font-size: 11px;
    letter-spacing: 0.846154px;
    font-weight: 400;
    color: #FFF;
}
.company__img {
    width: 102px;
    height: 23px;
    margin-top: 20px;
}
.company__p {
    font-size: 11px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0.85px;
    color: #FFF;
    padding-top: 14px;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}
.links1 {
    width: 262px;
    height: 150px;
    font-size: 11px;
    line-height: 18.3px;
    letter-spacing: 0.846154px;
    font-weight: 400;
    color: #FFF;
    padding-left: 30px;
}
li {
    list-style-type: none;
}
.links__h4 {
    font-size: 11px;
    letter-spacing: 0.846154px;
}
.links__spis {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    color: #FFF;
    font-size: 11px;
    line-height: 24px;
    font-weight: 400;
}
.links__spisok {
    width: 76px;
    height: 125px;
    padding: 0;
}
.faq {
    width: 75px;
    padding-left: 35px;
}
.blog {
    width: 70px;
    padding-left: 50px;
}
.contact {
    width: 141px;
    height: 158px;
    color: #FFF;
    margin-left: 88px;
}
.contact__h4 {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.846154px;
}
.contact__p {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    padding-top: 16px;
}
.cosials {
    width: 85px;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 46px;
}
.cosials__img {
    width: 16px;
    height: 16px;
    color: #FFF;
    background-color: #fff;
}
.copyright {
    max-width: 1440px;
    height: 60px;
    padding: 63px 0 0 11px;
}
.copyright__text {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFF;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .navbar1 {
        padding: 15px;
    }
    .about {
        padding: 0 15px;
    }
    .found {
        padding-right: 10px;
    }
    .services {
        padding: 0 15px;
    }
    .services__title {
        flex-wrap: wrap;
    }
    .footer {
        height: 430px;
        padding: 0 15px;
    }
    .footer__titel {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 790px) {
    .founded {
        flex-wrap: wrap
    }
    .about {
        margin-bottom: 275px; 
    }
    .services {
        margin-bottom: 400px;
    }
    .servic__tree {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}